.form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 12px;
  justify-items: stretch;
  max-width: 952px;
  margin: 0 auto;
}

.btn_wide {
  grid-column: span 2;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 90px;
}

.series {
  display: flex;
  justify-content: flex-start;
  column-gap: 16px;
  row-gap: 56px;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 944px;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
}
